<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Details</title>
</head>
<body>
    <div style="border-style: solid; padding: 5px; border-radius:5px; margin:auto; width:50%;">
        <h1>{{ blog.title }}</h1>
        <h3 style="color:blue;">{{ blog.location }}</h3>
        <img style="width:100%" src="{{ blog.thumbnail.url }}" alt="My Image">
        <p>{{ blog.content }}</p>
        {% for subpost in blog.sub_posts.all %}
            {% if subpost.subheading %}
                <h2>{{ subpost.subheading }}</h2>
            {% endif %}
            {% if subpost.location %}
                <h4 style="color:blue;">{{ subpost.location }}</h4>
            {% endif %}
            {% if subpost.image %}
                <img style="width:100%" src="{{ subpost.image.url }}" alt="My Image">
            {% endif %}
            {% if subpost.text %}
                <p>{{ subpost.text }}</p>
            {% endif %}
        {% endfor %}
    
        {% if blog.status == 0 %}
            {% if request.user.is_superuser %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
            {% endif %}
        {% else %}
            {% if request.user.is_anonymous is False %}
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" url= "home">
            </form>
            {% endif %}
            {% endif %}
        {% for comment in comments %}
    <div class="comment">
        {{forloop.counter}}. {{ comment.user.username }}
        <p class="font-weight-bold">
            <p>{{ comment.text }}</p>
            <span class="text-muted font-weight-normal">
                {{ comment.created_at }}
            </span>
        </p>
            <p>Total Replies:</p>
        <p class="font-weight-bold">
            {% for reply in comment.replies.all %}
            <div class="reply">
                {{forloop.counter}}.
                {{ reply.user.username }}
                <p class="font-weight-bold">
                    <p>{{ reply.text }}</p>
                    <span class="text-muted font-weight-normal">
                        {{ reply.created_at }}
                    </span>
                </p>
            </div>
        {% endfor %}
        </p>
        {% if request.user.is_anonymous is False %}
        <div class="reply-form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="hidden" name="comment_id" value="{{ comment.id }}">
                <input type="submit" value="Reply">
            </form>
        </div>

        {% endif %}
        

        <!-- {% if comment.replies.exists %}
            <div class="nested-replies">
                {% for reply in comment.replies.all %}
                    <div class="nested-reply">
                        <p>{{ reply.text }}</p>
                        <p class="font-weight-bold">
                            {{ reply.user.username }}
                            <span class="text-muted font-weight-normal">
                                {{ reply.created_at }}
                            </span>
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% endif %} -->
    </div>
{% endfor %}

<a href="{% url 'home' %}">Back to Home</a>
    </div>
</body>
</html>
