<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3xpvDInSi1HXTuvUlxjkK1IuP7W2UzPI&libraries=places"></script>
    <script>
        function initialize() {
            var inputElements = document.getElementsByClassName('inpsubloc');
            var options = {
                types: ['geocode']  // Restrict predictions to geographic locations
            };

            Array.from(inputElements).forEach(function(input) {
                var autocomplete = new google.maps.places.Autocomplete(input, options);
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script>
        function initialize() {
            var input = document.getElementById('location-input');
            var autocomplete = new google.maps.places.Autocomplete(input);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
    <h1> this is blog post page</h1>
    {% if error %}
    <h4>{{error}}</h4>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save and Preview</button>
    </form> 
</body>
</html>