<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <style>
        body {
            padding: 20px;
        }

        .results-container {
            max-width: 600px;
            margin: 0 auto;
        }

        .result-item {
            padding: 10px;
            margin-bottom: 10px;
            background-color: #f8f9fa;
            border-radius: 5px;
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3xpvDInSi1HXTuvUlxjkK1IuP7W2UzPI&libraries=places"></script>
    <script>
        function initialize() {
            var inputElements = document.getElementsByClassName('inpsubloc');
            var options = {
                types: ['geocode']  // Restrict predictions to geographic locations
            };

            Array.from(inputElements).forEach(function(input) {
                var autocomplete = new google.maps.places.Autocomplete(input, options);
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <script>
        function initialize() {
            var input = document.getElementById('location-input');
            var autocomplete = new google.maps.places.Autocomplete(input);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    
</head>
<body>
    <div class="results-container">
        <h1>Search Results for "{{ query }}"</h1>
        
        {% if blogs %}
            {% for blog in blogs %}
            {% if blog.status == 1 %}
                <div class="result-item">
                    <h4><a href="{% url 'blog_details' blog.id %}">{{ blog.title }} {{ blog.location }} </a></h4>
                </div>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>No results found.</p>
        {% endif %}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>
